node_modules
.env
.env.*
audios/
memory/short-term/
memory/long-term.json
.git
.gitignore
.idea
.DS_Store
*.md
!memory/permanent.md
coverage
dist
out
logs
*.log
*.tgz
*.lcov
*.tsbuildinfo
docker-compose.yml
